!.gitignore

#ignore all
*

#unginore folder
!*/

#unignore ctv script
!*.ctv

#unignore compile
!*.cpp
!*.cc
!*.c
!*.hpp
!*.hh
!*.h
!Makefile

#unignore auteur
!auteur

#unignore readme (just in case)
!readme*
!README*
